<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>windse7en_github</string>
	<key>connections</key>
	<dict>
		<key>3D9A3982-B9F3-4E4A-AFAC-0ACC8C96FD96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>669176CC-80C1-4267-86ED-AD683DE72A61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>86073DCC-4A82-4D94-869F-4327D7CBFEAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7550FB1-D15D-43CC-86B4-D852FC19C3AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>980376D4-EAE4-4507-8A1D-23D03D7EEEA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26FA5397-3312-41CF-AE1C-B2A7B0B182EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D1BD3A56-5766-4D5D-B94D-37BF06E4512C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDBD3952-6377-4EAF-9CC0-E2131898CCC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tao Zhang</string>
	<key>description</key>
	<string>Search in Github</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Search Key</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.cerner.com/search?q={query}&amp;type=Code&amp;utf8=%E2%9C%93</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gc</string>
				<key>text</key>
				<string>Search in Github Codebase</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gr</string>
				<key>text</key>
				<string>Search in Github Repo</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>980376D4-EAE4-4507-8A1D-23D03D7EEEA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.cerner.com/search?q={query}&amp;type=Repositories&amp;utf8=%E2%9C%93</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>26FA5397-3312-41CF-AE1C-B2A7B0B182EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uw</string>
				<key>text</key>
				<string>Search in Ucern Wiki</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1BD3A56-5766-4D5D-B94D-37BF06E4512C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://search.ucern.com/search?cp=confluence&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EDBD3952-6377-4EAF-9CC0-E2131898CCC7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>text</key>
				<string>Search in Github code</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3D9A3982-B9F3-4E4A-AFAC-0ACC8C96FD96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/search?q={query}&amp;type=Code&amp;utf8=%E2%9C%93</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>669176CC-80C1-4267-86ED-AD683DE72A61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://connect.ucern.com/groups/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7550FB1-D15D-43CC-86B4-D852FC19C3AA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uc</string>
				<key>text</key>
				<string>Search in Ucern Cern Group</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>86073DCC-4A82-4D94-869F-4327D7CBFEAE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Rubyist

love vim</string>
	<key>uidata</key>
	<dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>26FA5397-3312-41CF-AE1C-B2A7B0B182EA</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>3D9A3982-B9F3-4E4A-AFAC-0ACC8C96FD96</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>669176CC-80C1-4267-86ED-AD683DE72A61</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>86073DCC-4A82-4D94-869F-4327D7CBFEAE</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>980376D4-EAE4-4507-8A1D-23D03D7EEEA8</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C7550FB1-D15D-43CC-86B4-D852FC19C3AA</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>D1BD3A56-5766-4D5D-B94D-37BF06E4512C</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>EDBD3952-6377-4EAF-9CC0-E2131898CCC7</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>windse7en.github.io</string>
</dict>
</plist>
