<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>windse7en_</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Tao Zhang</string>
	<key>description</key>
	<string>hotkey and keyword settings related to Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred related hotkey and keyword</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string>Rubyist

love vim</string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>windse7en.github.io</string>
</dict>
</plist>
