<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>39242639-4665-4C57-920B-A8CBDDC88A0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53C36C21-4368-47BC-99B2-DEE162A13C83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53C36C21-4368-47BC-99B2-DEE162A13C83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC7404F-32F2-414F-AD94-177E93DA792D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BAB4BDF-96CF-42E3-B418-0E2C6D0196DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A1CFCF6-E703-4206-86B7-B7EB832FDC78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>748955CA-03FE-4313-B9E6-696FC4490CE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D97B10BF-06D5-42FD-8D8C-A3C84CBC87D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>83183DC0-EDA9-4983-96F4-68B8126F2D01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC7404F-32F2-414F-AD94-177E93DA792D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2AB873C-F106-4A20-8C44-412F9E783A82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E432A5C3-EEC8-4684-AC3F-535860E6CA73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E432A5C3-EEC8-4684-AC3F-535860E6CA73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECC7404F-32F2-414F-AD94-177E93DA792D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBBDDE27-875F-4C71-90FD-A6701C9230EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A1CFCF6-E703-4206-86B7-B7EB832FDC78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jean Fernandez</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Close Enough GitHub</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gadd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>ruby ./lib/manage_mappings_filter.rb {query}</string>
				<key>title</key>
				<string>Add GitHub Navigation Shortcut</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBBDDE27-875F-4C71-90FD-A6701C9230EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby ./lib/manage_mappings.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A1CFCF6-E703-4206-86B7-B7EB832FDC78</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>grem</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>ruby ./lib/manage_mappings_filter.rb {query} --remove</string>
				<key>title</key>
				<string>Remove GitHub Navigation Shortcut</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BAB4BDF-96CF-42E3-B418-0E2C6D0196DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>g</string>
				<key>text</key>
				<string>Cerner GitHub</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>83183DC0-EDA9-4983-96F4-68B8126F2D01</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>grb</string>
				<key>text</key>
				<string>Cerner GitHub Ruby Org</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>39242639-4665-4C57-920B-A8CBDDC88A0B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby ./lib/main.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>ECC7404F-32F2-414F-AD94-177E93DA792D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query} -u ruby"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53C36C21-4368-47BC-99B2-DEE162A13C83</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gn</string>
				<key>text</key>
				<string>GitHub</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2AB873C-F106-4A20-8C44-412F9E783A82</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "-u '' {query} --server https://github.com"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E432A5C3-EEC8-4684-AC3F-535860E6CA73</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gs</string>
				<key>text</key>
				<string>Cerner GitHub Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>748955CA-03FE-4313-B9E6-696FC4490CE6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://github.cerner.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D97B10BF-06D5-42FD-8D8C-A3C84CBC87D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A1CFCF6-E703-4206-86B7-B7EB832FDC78</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>39242639-4665-4C57-920B-A8CBDDC88A0B</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>53C36C21-4368-47BC-99B2-DEE162A13C83</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>6BAB4BDF-96CF-42E3-B418-0E2C6D0196DC</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>748955CA-03FE-4313-B9E6-696FC4490CE6</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>83183DC0-EDA9-4983-96F4-68B8126F2D01</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>A2AB873C-F106-4A20-8C44-412F9E783A82</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>D97B10BF-06D5-42FD-8D8C-A3C84CBC87D6</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>E432A5C3-EEC8-4684-AC3F-535860E6CA73</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>EBBDDE27-875F-4C71-90FD-A6701C9230EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ECC7404F-32F2-414F-AD94-177E93DA792D</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
