<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2AF4B145-7C6C-4831-A289-7427413F457B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>s</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Search%20StackOverflow%3A%20%7Bquery%7D</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
